@model List<FipsReporting.Data.ReportingMetric>

@{
    ViewData["Title"] = "Manage Metrics";
    ViewData["ActiveNav"] = "admin-metrics";
}

<div class="govuk-width-container">
    <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
                <p class="govuk-body-l">Configure reporting metrics that will appear in report submissions.</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <a href="@Url.Action("Create")" class="govuk-button">Add New Metric</a>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                @if (Model != null && Model.Any())
                {
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Name</th>
                                <th scope="col" class="govuk-table__header">Description</th>
                                <th scope="col" class="govuk-table__header">Measurement Type</th>
                                <th scope="col" class="govuk-table__header">Mandatory</th>
                                <th scope="col" class="govuk-table__header">Status</th>
                                <th scope="col" class="govuk-table__header">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var metric in Model)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@metric.Name</td>
                                    <td class="govuk-table__cell">@metric.Description</td>
                                    <td class="govuk-table__cell">@metric.MeasurementType</td>
                                    <td class="govuk-table__cell">
                                        <span class="govuk-tag govuk-tag--@(metric.IsMandatory ? "red" : "grey")">
                                            @(metric.IsMandatory ? "Yes" : "No")
                                        </span>
                                    </td>
                                    <td class="govuk-table__cell">
                                        <span class="govuk-tag govuk-tag--@(metric.IsActive ? "green" : "red")">
                                            @(metric.IsActive ? "Active" : "Inactive")
                                        </span>
                                    </td>
                                    <td class="govuk-table__cell">
                                        <a href="@Url.Action("Edit", new { id = metric.Id })" class="govuk-link">Edit</a>
                                        <span class="govuk-body"> | </span>
                                        <a href="@Url.Action("Delete", new { id = metric.Id })" class="govuk-link govuk-link--destructive">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="govuk-inset-text">
                        <p class="govuk-body">No metrics configured yet. Add your first metric to get started.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
