@model Compass.ViewModels.ModernMonthlyReportDashboardViewModel
@{
  var m = Model;
  var st = m.MonthlyUpdateStats;
}
<div class="dfe-f-card-grid govuk-!-margin-bottom-0">
  <div class="dfe-f-stat-card dfe-f-stat-card--tint-grey">
    <p class="govuk-body-s dfe-f-stat-card__label">Active work items</p>
    <p class="dfe-f-stat-card__value dfe-f-u-tabular-numbers govuk-body-l">@m.TotalActiveProjects</p>
  </div>
  @if (st != null)
  {
    <div class="dfe-f-stat-card dfe-f-stat-card--tint-green">
      <p class="govuk-body-s dfe-f-stat-card__label">Returns submitted</p>
      <p class="dfe-f-stat-card__value dfe-f-u-tabular-numbers govuk-body-l">@st.Submitted</p>
    </div>
    <div class="dfe-f-stat-card dfe-f-stat-card--tint-grey">
      <p class="govuk-body-s dfe-f-stat-card__label">In progress</p>
      <p class="dfe-f-stat-card__value dfe-f-u-tabular-numbers govuk-body-l">@st.InProgress</p>
    </div>
    <div class="dfe-f-stat-card dfe-f-stat-card--tint-red">
      <p class="govuk-body-s dfe-f-stat-card__label">Late</p>
      <p class="dfe-f-stat-card__value dfe-f-u-tabular-numbers govuk-body-l">@st.Late</p>
    </div>
  }
  <div class="dfe-f-stat-card dfe-f-stat-card--tint-grey">
    <p class="govuk-body-s dfe-f-stat-card__label">New this month</p>
    <p class="dfe-f-stat-card__value dfe-f-u-tabular-numbers govuk-body-l">@m.NewProjectsCount</p>
  </div>
  <div class="dfe-f-stat-card dfe-f-stat-card--tint-grey">
    <p class="govuk-body-s dfe-f-stat-card__label">Milestones achieved</p>
    <p class="dfe-f-stat-card__value dfe-f-u-tabular-numbers govuk-body-l">@m.MilestonesAchievedCount</p>
  </div>
</div>
