@model Compass.ViewModels.ModernRaidMeetingReportViewModel
@{
  var d = Model.Dependencies;
}
<section class="mr-report-section-panel dfe-f-toggle govuk-!-margin-bottom-3" data-module="dfe-f-toggle" data-mr-section-id="dependencies" data-mr-section-title="Dependencies">
  <header class="dfe-f-toggle__title-wrapper">
    <h2 class="dfe-f-toggle__heading">
      <button type="button" class="dfe-f-toggle__button" aria-expanded="false" aria-controls="rr-toggle-dependencies-content" id="rr-toggle-dependencies-button">
        <span class="dfe-f-toggle__icon" aria-hidden="true"></span>
        <span class="dfe-f-toggle__title">Dependencies</span>
        <span class="mr-toggle-panel__meta"><span class="govuk-tag @(d.ActiveCount > 0 ? "govuk-tag--yellow" : "govuk-tag--grey")">@d.ActiveCount active</span></span>
      </button>
    </h2>
  </header>
  <section id="rr-toggle-dependencies-content" class="dfe-f-toggle__content" hidden>
    <section class="dfe-f-toggle__body govuk-body">
      <section class="dfe-f-card-grid govuk-!-margin-bottom-4">
        <article class="dfe-f-stat-card dfe-f-stat-card--tint-grey"><p class="govuk-body-s dfe-f-stat-card__label">Active</p><p class="dfe-f-stat-card__value govuk-body-l">@d.ActiveCount</p></article>
        <article class="dfe-f-stat-card dfe-f-stat-card--tint-red"><p class="govuk-body-s dfe-f-stat-card__label">Overdue</p><p class="dfe-f-stat-card__value govuk-body-l">@d.OverdueCount</p></article>
        <article class="dfe-f-stat-card dfe-f-stat-card--tint-grey"><p class="govuk-body-s dfe-f-stat-card__label">Due within 30 days</p><p class="dfe-f-stat-card__value govuk-body-l">@d.DueWithin30DaysCount</p></article>
      </section>
      <h3 class="govuk-heading-s">Priority dependencies</h3>
      @await Html.PartialAsync("_RaidMeetingTableRows", d.PriorityRows)
      <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-0">
        <a class="govuk-link" href="@Url.Action("Dependencies", "ModernRaid")">Open dependencies register</a>
      </p>
    </section>
  </section>
</section>
