@model Compass.ViewModels.ModernRaidMeetingReportViewModel
@{
  var a = Model.Assumptions;
}
<section class="mr-report-section-panel dfe-f-toggle govuk-!-margin-bottom-3" data-module="dfe-f-toggle" data-mr-section-id="assumptions" data-mr-section-title="Assumptions">
  <header class="dfe-f-toggle__title-wrapper">
    <h2 class="dfe-f-toggle__heading">
      <button type="button" class="dfe-f-toggle__button" aria-expanded="false" aria-controls="rr-toggle-assumptions-content" id="rr-toggle-assumptions-button">
        <span class="dfe-f-toggle__icon" aria-hidden="true"></span>
        <span class="dfe-f-toggle__title">Assumptions</span>
        <span class="mr-toggle-panel__meta"><span class="govuk-tag @(a.OpenCount > 0 ? "govuk-tag--yellow" : "govuk-tag--grey")">@a.OpenCount open</span></span>
      </button>
    </h2>
  </header>
  <section id="rr-toggle-assumptions-content" class="dfe-f-toggle__content" hidden>
    <section class="dfe-f-toggle__body govuk-body">
      <section class="dfe-f-card-grid govuk-!-margin-bottom-4">
        <article class="dfe-f-stat-card dfe-f-stat-card--tint-grey"><p class="govuk-body-s dfe-f-stat-card__label">Open</p><p class="dfe-f-stat-card__value govuk-body-l">@a.OpenCount</p></article>
        <article class="dfe-f-stat-card dfe-f-stat-card--tint-red"><p class="govuk-body-s dfe-f-stat-card__label">Review overdue</p><p class="dfe-f-stat-card__value govuk-body-l">@a.ReviewOverdueCount</p></article>
      </section>
      <h3 class="govuk-heading-s">Priority assumptions</h3>
      @await Html.PartialAsync("_RaidMeetingTableRows", a.PriorityRows)
      <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-0">
        <a class="govuk-link" href="@Url.Action("Assumptions", "ModernRaid")">Open assumptions register</a>
      </p>
    </section>
  </section>
</section>
