@model IReadOnlyList<Compass.ViewModels.RaidMeetingTableRow>
@{
  var rows = Model ?? Array.Empty<Compass.ViewModels.RaidMeetingTableRow>();
}
@if (rows.Count == 0)
{
  <p class="govuk-body govuk-!-margin-bottom-0">Nothing to highlight in this scope.</p>
}
else
{
  <div class="dfe-f-table-wrapper" data-module="dfe-f-table">
    <table class="govuk-table govuk-table--small-text-until-tablet">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Reference</th>
          <th scope="col" class="govuk-table__header">Summary</th>
          <th scope="col" class="govuk-table__header">Talking point</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        @foreach (var row in rows)
        {
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link govuk-link--no-visited-state" href="@Url.Action(row.DetailAction, row.DetailController, new { id = row.Id })">@row.Reference</a>
            </td>
            <td class="govuk-table__cell">
              <span>@row.Title</span>
              @if (!string.IsNullOrWhiteSpace(row.MetaLine))
              {
                <p class="govuk-body-s dfe-c-text-muted govuk-!-margin-top-1 govuk-!-margin-bottom-0">@row.MetaLine</p>
              }
            </td>
            <td class="govuk-table__cell govuk-body-s">@row.Insight</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
