@model Compass.ViewModels.Modern.ModernPerformanceSubmissionViewModel
@using Compass.Models
@{
  var c = Model.Commission;
  var sub = Model.Submission;
  string StatusLabel(CommissionSubmissionStatus s) => s switch
  {
    CommissionSubmissionStatus.Submitted => "Submitted",
    CommissionSubmissionStatus.Late => "Late",
    CommissionSubmissionStatus.InProgress => "In progress",
    CommissionSubmissionStatus.NotStarted => "Not started",
    _ => s.ToString()
  };
  string SubmissionStatusBadgeClass(CommissionSubmissionStatus s) => s switch
  {
    CommissionSubmissionStatus.Submitted => "dfe-f-badge dfe-f-badge--small dfe-f-badge--green",
    CommissionSubmissionStatus.Late => "dfe-f-badge dfe-f-badge--small dfe-f-badge--red",
    CommissionSubmissionStatus.InProgress => "dfe-f-badge dfe-f-badge--small dfe-f-badge--orange",
    _ => "dfe-f-badge dfe-f-badge--small dfe-f-badge--grey"
  };
}
<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Commission</dt>
    <dd class="govuk-summary-list__value">@c.Name</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Reporting period</dt>
    <dd class="govuk-summary-list__value">@CommissionDisplay.FormatPeriod(c.StartDate, c.EndDate)</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Due date</dt>
    <dd class="govuk-summary-list__value">@CommissionDisplay.FormatDueDate(c.DueDate)</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Return status</dt>
    <dd class="govuk-summary-list__value">
      <span class="@SubmissionStatusBadgeClass(sub.Status)">@StatusLabel(sub.Status)</span>
      @if (sub.SubmittedDate.HasValue)
      {
        <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0 dfe-c-text-muted">
          <span class="govuk-visually-hidden">Submitted </span>@sub.SubmittedDate.Value.ToString("d MMMM yyyy, HH:mm")@(string.IsNullOrEmpty(sub.SubmittedBy) ? "" : $" · {sub.SubmittedBy}")
        </p>
      }
    </dd>
  </div>
</dl>
