@model Compass.Models.Criterion
@{
    ViewData["Title"] = "Edit criterion";
    var practiceArea = ViewBag.PracticeArea as Compass.Models.PracticeArea;
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Edit criterion</h1>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="callout callout-info">
                    <h5>@practiceArea.Theme?.FunctionalStandard?.Title - Practice area @practiceArea.PracticeAreaId: @practiceArea.Title</h5>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Criterion details</h3>
                    </div>
                    <form asp-action="EditCriterion" method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="FunctionalStandardId" />
                        <input type="hidden" asp-for="ThemeId" />
                        <input type="hidden" asp-for="PracticeAreaId" />
                        <input type="hidden" asp-for="CreatedAt" />
                        
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                            
                            <div class="form-group">
                                <label asp-for="CriteriaCode">Criteria code</label>
                                <input asp-for="CriteriaCode" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Criteria">Criteria</label>
                                <textarea asp-for="Criteria" class="form-control" rows="4"></textarea>
                            </div>

                            <div class="form-group">
                                <label asp-for="Rating">Rating</label>
                                <select asp-for="Rating" class="form-control custom-select">
                                    <option value="@((int)Compass.Models.CriteriaRating.Good)">Good</option>
                                    <option value="@((int)Compass.Models.CriteriaRating.Better)">Better</option>
                                    <option value="@((int)Compass.Models.CriteriaRating.Best)">Best</option>
                                </select>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">
                                Save changes
                            </button>
                            <a asp-action="Criteria" asp-route-standardId="@practiceArea.FunctionalStandardId" asp-route-themeId="@practiceArea.ThemeId" asp-route-practiceAreaId="@practiceArea.PracticeAreaId" class="btn btn-default">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

