@model IEnumerable<FipsReporting.Models.ProductViewModel>
@{
    ViewData["Title"] = "Your Products";
    ViewData["ActiveNav"] = "reporting";
    ViewData["ActiveNavItem"] = "products";
}

@section BeforeContent {
    <div class="dfe-masthead">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <span class="govuk-caption-l">COMPASS reporting</span>
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Your products</h1>
                      </div>
            </div>
        </div>
    </div>
}



        <div class="govuk-grid-row">
            <!-- Vertical Navigation -->
            <div class="govuk-grid-column-one-quarter">
                <nav class="dfe-vertical-nav" data-module="dfe-vertical-nav">
                    <ul class="dfe-vertical-nav__section">
                        <li class="dfe-vertical-nav__section-item @(ViewData["ActiveNavItem"]?.ToString() == "dashboard" ? "dfe-vertical-nav__section-item--current" : "")">
                            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="@Url.Action("Index", "Reporting")">
                                Dashboard
                            </a>
                        </li>
                        <li class="dfe-vertical-nav__section-item @(ViewData["ActiveNavItem"]?.ToString() == "products" ? "dfe-vertical-nav__section-item--current" : "")">
                            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="@Url.Action("Products", "Reporting")">
                                Your products
                            </a>
                        </li>
                        <li class="dfe-vertical-nav__section-item @(ViewData["ActiveNavItem"]?.ToString() == "performance" ? "dfe-vertical-nav__section-item--current" : "")">
                            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="@Url.Action("Performance", "Reporting")">
                                Performance reporting
                            </a>
                        </li>
                        <li class="dfe-vertical-nav__section-item @(ViewData["ActiveNavItem"]?.ToString() == "milestones" ? "dfe-vertical-nav__section-item--current" : "")">
                            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="@Url.Action("Milestones", "Reporting")">
                                Milestones
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Main Content -->
            <div class="govuk-grid-column-three-quarters">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-l">Assigned products</h2>
                        <p class="govuk-body">You are responsible for reporting on @Model.Count() service(s).</p>
                    </div>
                </div>

                @if (Model.Any())
                {
                    <div class="govuk-table-container">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Service</th>
                                    <th scope="col" class="govuk-table__header">Milestones</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var product in Model)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <a href="@Url.Action("Details", "ReportingProducts", new { id = product.FipsId })" class="govuk-link">
                                                @product.Title
                                            </a>
                                            <br>
                                            <span class="govuk-body-s">@product.FipsId</span>
                                        </td>
                                        <td class="govuk-table__cell">
                                            <span class="govuk-body-s">@product.MilestoneCount</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="govuk-inset-text">
                        <p class="govuk-body">You are not currently assigned to any services for reporting.</p>
                        <p class="govuk-body">Contact your administrator to be assigned to services.</p>
                    </div>
                }
            </div>
        </div>
