@model FipsReporting.Data.Objective

@{
    ViewData["Title"] = "Linked Milestones";
    ViewData["ActiveNav"] = "admin";
    ViewData["ActiveNavItem"] = "linked-milestones";
}

@section BeforeContent {
    <div class="dfe-masthead dfe-masthead--with-links">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <span class="govuk-caption-l govuk-!-margin-top-6">COMPASS admin</span>
                    <h1 class="govuk-heading-xl">@Model.Title</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-0">@Model.Reference - @Model.Type</p>
                </div>
            </div>
        </div>
    </div>
}



        <div class="govuk-grid-row">
            <!-- Vertical Navigation -->
            <div class="govuk-grid-column-one-quarter">
            <a href="@Url.Action("Index")" class="govuk-back-link  govuk-!-margin-bottom-7">Back to objectives</a>
                <nav class="dfe-vertical-nav" data-module="dfe-vertical-nav">
                    <ul class="dfe-vertical-nav__section">
                        <li class="dfe-vertical-nav__section-item @(ViewData["ActiveNavItem"]?.ToString() == "objective-details" ? "dfe-vertical-nav__section-item--current" : "")">
                            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="@Url.Action("Details", new { id = Model.Id })">
                                Objective details
                            </a>
                        </li>
                        <li class="dfe-vertical-nav__section-item @(ViewData["ActiveNavItem"]?.ToString() == "linked-milestones" ? "dfe-vertical-nav__section-item--current" : "")">
                            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="@Url.Action("Milestones", new { id = Model.Id })">
                                Linked milestones
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Main Content -->
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-l">Linked milestones</h2>

                @if (Model.Milestones.Any())
                {
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h3 class="govuk-summary-card__title">
                                Milestones (@Model.Milestones.Count)
                            </h3>
                        </div>
                        <div class="govuk-summary-card__content">
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Milestone</th>
                                        <th scope="col" class="govuk-table__header">Product</th>
                                        <th scope="col" class="govuk-table__header">Status</th>
                                        <th scope="col" class="govuk-table__header">Priority</th>
                                        <th scope="col" class="govuk-table__header">Target Date</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var milestone in Model.Milestones)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">
                                                <a href="@Url.Action("Details", "AdminMilestones", new { id = milestone.Id })" class="govuk-link">
                                                    @milestone.Title
                                                </a>
                                                <br>
                                                <span class="govuk-body-s govuk-!-font-weight-regular">@milestone.FipsId</span>
                                            </td>
                                            <td class="govuk-table__cell">
                                                @if (!string.IsNullOrEmpty(milestone.ProductName))
                                                {
                                                    <span class="govuk-tag govuk-tag--blue">@milestone.ProductName</span>
                                                }
                                                else
                                                {
                                                    <span class="govuk-body-s">Not specified</span>
                                                }
                                            </td>
                                            <td class="govuk-table__cell">
                                                <span class="govuk-tag @GetMilestoneStatusTagClass(milestone.Status)">
                                                    @milestone.Status
                                                </span>
                                            </td>
                                            <td class="govuk-table__cell">
                                                <span class="govuk-tag @GetPriorityTagClass(milestone.Priority)">
                                                    @milestone.Priority
                                                </span>
                                            </td>
                                            <td class="govuk-table__cell">
                                                @if (milestone.TargetDate.HasValue)
                                                {
                                                    @milestone.TargetDate.Value.ToString("dd MMM yyyy")
                                                }
                                                else
                                                {
                                                    <span class="govuk-body-s">Not set</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {
                    <div class="govuk-inset-text">
                        <p class="govuk-body">No milestones are currently linked to this objective.</p>
                    </div>
                }
            </div>
        </div>


@functions {
    string GetMilestoneStatusTagClass(string status)
    {
        return status switch
        {
            "Completed" => "govuk-tag--green",
            "In Progress" => "govuk-tag--blue",
            "Not Started" => "govuk-tag--grey",
            "Overdue" => "govuk-tag--red",
            "Cancelled" => "govuk-tag--red",
            _ => "govuk-tag--grey"
        };
    }

    string GetPriorityTagClass(string priority)
    {
        return priority switch
        {
            "High" => "govuk-tag--red",
            "Medium" => "govuk-tag--yellow",
            "Low" => "govuk-tag--green",
            _ => "govuk-tag--grey"
        };
    }
}
