@{
    var fipsId = ViewBag.FipsId as string ?? "";
    var avg = (double)(ViewBag.UssAvg ?? 0.0);
    var count = (int)(ViewBag.UssCount ?? 0);
    var complianceBgClass = avg >= 75 ? "bg-success" : (avg >= 50 ? "bg-warning" : "bg-danger");
}

<div class="row">
    <div class="col-lg-4 col-12">
        <div class="small-box @complianceBgClass">
            <div class="inner">
                <h3 class="small-box-text-heading">@avg</h3>
                <p>Average USS</p>
            </div>
            <div class="icon">
                <i class="fas fa-face-smile"></i>
            </div>
            <a href="@Url.Action("Details", new { fipsId = fipsId, tab = "responses" })" class="small-box-footer">View responses <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-4 col-12">
        <div class="small-box bg-info">
            <div class="inner">
                <h3 class="small-box-text-heading">@count</h3>
                <p>Submissions</p>
            </div>
            <div class="icon">
                <i class="fas fa-database"></i>
            </div>
            <a href="@Url.Action("Details", new { fipsId = fipsId, tab = "responses" })" class="small-box-footer">View responses <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    
</div>


