@model Compass.Models.Modern.Work.WorkItem
@{
    var work = Model;
    var priorityOutcomes = (List<Compass.Models.Modern.Work.WorkLookupOption>)ViewBag.PriorityOutcomes ?? new List<Compass.Models.Modern.Work.WorkLookupOption>();
    var missionPillars = (List<Compass.Models.Modern.Work.WorkLookupOption>)ViewBag.MissionPillars ?? new List<Compass.Models.Modern.Work.WorkLookupOption>();
    var directorates = (List<Compass.Models.Directorate>)ViewBag.Directorates ?? new List<Compass.Models.Directorate>();
    var selectedPo = work.PriorityOutcomes?.Select(po => po.PriorityOutcomeId).ToHashSet() ?? new HashSet<int>();
    var selectedMp = work.MissionPillars?.Select(mp => mp.MissionPillarId).ToHashSet() ?? new HashSet<int>();
    var selectedDir = work.Directorates?.Select(d => d.DirectorateId).ToHashSet() ?? new HashSet<int>();
    ViewData["Title"] = "Edit strategic alignment";
}
@section Breadcrumbs {
    <li class="dfe-c-breadcrumb__item"><a class="dfe-c-breadcrumb__link" href="/">Home</a></li>
    <li class="dfe-c-breadcrumb__item"><a class="dfe-c-breadcrumb__link" href="@Url.Action("Index", "ModernWork")">Work</a></li>
    <li class="dfe-c-breadcrumb__item"><a class="dfe-c-breadcrumb__link" href="@Url.Action("Detail", "ModernWork", new { id = Model.Id })">@work.Title</a></li>
    <li class="dfe-c-breadcrumb__item" aria-current="page">Edit strategic alignment</li>
}

<div id="sc-work-editstrategicalignment">
  @await Html.PartialAsync("_WorkItemChrome", ViewBag.WorkItem as Compass.Models.Modern.Work.WorkItem ?? Model)
  <h2 class="dfe-c-heading-m dfe-c-mt-0">Edit strategic alignment</h2>
  <p class="dfe-c-body muted dfe-c-mb-3">Flagship project, priority outcomes, mission pillars and directorates.</p>

  <div class="dfe-c-grid-row">
    <div class="dfe-c-grid-col dfe-c-grid-col--two-thirds">
<form asp-action="EditStrategicAlignment" asp-route-id="@Model.Id" method="post" class="dfe-c-mb-4">
  @Html.AntiForgeryToken()

  <input type="hidden" name="FlagshipProject" value="false" />
  <div class="dfe-c-form__group">
    <div class="dfe-c-checkboxes__item">
      <input class="dfe-c-checkboxes__input" id="FlagshipProject" name="FlagshipProject" type="checkbox" value="true" @(Model.FlagshipProject ? "checked" : "") />
      <label class="dfe-c-form__label dfe-c-checkboxes__label" for="FlagshipProject">Flagship project</label>
    </div>
  </div>

  <div class="dfe-c-form__group">
    <label class="dfe-c-form__label">Priority outcomes</label>
    <div class="dfe-c-form__check-group">
      @foreach (var po in priorityOutcomes)
      {
        <div class="dfe-c-checkboxes__item">
          <input class="dfe-c-checkboxes__input" id="po_@po.Id" name="PriorityOutcomeIds" type="checkbox" value="@po.Id" checked="@selectedPo.Contains(po.Id)" />
          <label class="dfe-c-form__label dfe-c-checkboxes__label" for="po_@po.Id">@po.Name</label>
        </div>
      }
    </div>
  </div>

  <div class="dfe-c-form__group">
    <label class="dfe-c-form__label">Mission pillars</label>
    <div class="dfe-c-form__check-group">
      @foreach (var mp in missionPillars)
      {
        <div class="dfe-c-checkboxes__item">
          <input class="dfe-c-checkboxes__input" id="mp_@mp.Id" name="MissionPillarIds" type="checkbox" value="@mp.Id" checked="@selectedMp.Contains(mp.Id)" />
          <label class="dfe-c-form__label dfe-c-checkboxes__label" for="mp_@mp.Id">@mp.Name</label>
        </div>
      }
    </div>
  </div>

  <div class="dfe-c-form__group">
    <label class="dfe-c-form__label">Directorates</label>
    <div class="dfe-c-form__check-group">
      @foreach (var d in directorates)
      {
        <div class="dfe-c-checkboxes__item">
          <input class="dfe-c-checkboxes__input" id="dir_@d.Id" name="DirectorateIds" type="checkbox" value="@d.Id" checked="@selectedDir.Contains(d.Id)" />
          <label class="dfe-c-form__label dfe-c-checkboxes__label" for="dir_@d.Id">@d.Name</label>
        </div>
      }
    </div>
  </div>

  <button type="submit" class="dfe-c-button dfe-c-button--primary">Save strategic alignment</button>
  <a href="@Url.Action("Detail", "ModernWork", new { id = Model.Id })" class="dfe-c-button dfe-c-button--secondary dfe-c-ms-2">Cancel</a>
</form>
    </div>
  </div>
</div>
