@model Compass.ViewModels.Modern.DdtStartEditConfirmViewModel
@{
  ViewData["Title"] = "Before you continue";
}

@section Breadcrumbs {
  <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "ModernDashboard")">Home</a></li>
  <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Url.Action("Dashboard", "ModernStandards")">Standards</a></li>
  <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Url.Action("DdtStandards", "ModernStandards")">DDT standards register</a></li>
  <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Url.Action("DdtDetail", "ModernStandards", new { id = Model.StandardId })">@Model.Title</a></li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">Edit</li>
}

<div class="ddt-edit-interruption-wrap govuk-!-margin-top-4 govuk-!-margin-bottom-6">
  <div class="dfe-f-interruption">
    <h1 class="govuk-heading-xl dfe-f-interruption__heading">Before you continue</h1>
    <p class="govuk-body">
      You will edit <strong>@Model.Title</strong> (currently version @Model.Version) in place.
      The standard will stay on the same record while you make changes.
    </p>
    <p class="govuk-body">
      If you publish your changes, the version number will be updated. Until then, the published version remains unchanged in the register.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-0">Do you want to continue?</p>
    <div class="dfe-f-interruption__actions">
      <form method="post" action="@Url.Action("DdtStartEdit", "ModernStandards", new { id = Model.StandardId })" class="govuk-!-margin-bottom-0">
        @Html.AntiForgeryToken()
        <button type="submit" class="govuk-button govuk-button--inverse">Continue</button>
      </form>
      <a class="govuk-link govuk-link--inverse govuk-!-margin-left-3" href="@Url.Action("DdtDetail", "ModernStandards", new { id = Model.StandardId })">Cancel</a>
    </div>
  </div>
</div>
