@model DoDontListViewModel
@{
  var title = Model.Title ?? (Model.Variant == DoDontVariant.Do ? "Do" : "Don't");
  var iconName = Model.Variant == DoDontVariant.Do ? "check" : "close";
  var modifier = Model.Variant == DoDontVariant.Do ? "compass-do-dont-list--do" : "compass-do-dont-list--dont";
  var headingClass = "govuk-card__heading govuk-heading-m govuk-!-margin-bottom-4";
  var level = Model.HeadingLevel.Trim().ToLowerInvariant();
}
<div class="govuk-card compass-do-dont-list @modifier">
  <div class="govuk-card__content">
    @switch (level)
    {
      case "h3":
        <h3 class="@headingClass">@title</h3>
        break;
      case "h4":
        <h4 class="@headingClass">@title</h4>
        break;
      default:
        <h2 class="@headingClass">@title</h2>
        break;
    }
    <ul class="compass-do-dont-list__list govuk-list">
      @foreach (var item in Model.Items)
      {
        <li class="compass-do-dont-list__item">
          <span class="material-icons compass-do-dont-list__icon" aria-hidden="true">@iconName</span>
          <div class="compass-do-dont-list__body govuk-body">
            @if (item.Content != null)
            {
              @item.Content
            }
            else
            {
              @item.Text
            }
          </div>
        </li>
      }
    </ul>
  </div>
</div>
