@model IReadOnlyList<Compass.Models.SearchAndFilterActiveChip>
@if (Model is { Count: > 0 })
{
<div class="filter-active-chips" role="region" aria-label="Active filters on this list">
  <span class="filter-active-chips__label govuk-!-margin-bottom-0">Showing</span>
  <ul class="filter-active-chips__list">
    @foreach (var c in Model)
    {
    <li>
      <a class="filter-active-chip" href="@c.RemoveUrl" title="Remove @c.Label: @c.Value">@c.Label: <span class="filter-active-chip__value">@c.Value</span> <span class="filter-active-chip__remove" aria-hidden="true">×</span><span class="govuk-visually-hidden">(remove filter)</span></a>
    </li>
    }
  </ul>
  </div>
}
