@model Compass.Models.Fips.FipsProductDetailViewModel

@if (Model.CategorisationGroupSections.Count > 0)
{
  foreach (var sec in Model.CategorisationGroupSections)
  {
    var hintId = $"cat-hint-{sec.GroupId}";
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">@sec.GroupName</legend>
        <div class="govuk-hint" id="@hintId">Select all values that apply for this service.</div>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" aria-describedby="@hintId">
          @foreach (var it in sec.Items)
          {
            var cbId = $"cat-{sec.GroupId}-{it.ItemId}";
            var isChecked = Model.Product.CategorisationItems.Any(x => x.FipsCategorisationItemId == it.ItemId);
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="@cbId" name="categorisationItemIds" type="checkbox" value="@it.ItemId" @(isChecked ? "checked" : "") />
              <label class="govuk-label govuk-checkboxes__label" for="@cbId">@it.Name</label>
            </div>
          }
        </div>
      </fieldset>
    </div>
  }
}
