@model GovUkPaginationViewModel
@{
    if (Model.TotalPages < 2)
    {
        return;
    }

    var current = Math.Clamp(Model.CurrentPage, 1, Model.TotalPages);
    var total = Model.TotalPages;
    var sequence = GovUkPagination.PageSequence(current, total);
}
<nav class="govuk-pagination govuk-!-margin-top-0 govuk-!-margin-bottom-0" aria-label="@Model.NavigationAriaLabel">
@if (current > 1)
{
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="@Model.PageUrl(current - 1)" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7188 6.5312 6.7188 6.5312 1.4062-1.4062-4.828-4.6875h12.109v-2h-12.109l4.828-4.6875-1.4062-1.4062z"></path>
      </svg>
      <span class="govuk-pagination__link-title govuk-pagination__link-title--decorated">Previous<span class="govuk-visually-hidden"> page</span></span>
    </a>
  </div>
}
<ul class="govuk-pagination__list">
@foreach (var item in sequence)
{
  if (item == null)
  {
    <li class="govuk-pagination__item govuk-pagination__item--ellipsis" aria-hidden="true">…</li>
  }
  else
  {
    var p = item.Value;
    <li class="govuk-pagination__item @(p == current ? "govuk-pagination__item--current" : "")">
      @if (p == current)
      {
        <span class="govuk-pagination__link" aria-label="Page @p" aria-current="page">@p</span>
      }
      else
      {
        <a class="govuk-link govuk-pagination__link" href="@Model.PageUrl(p)" aria-label="Page @p">@p</a>
      }
    </li>
  }
}
</ul>
@if (current < total)
{
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="@Model.PageUrl(current + 1)" rel="next">
      <span class="govuk-pagination__link-title govuk-pagination__link-title--decorated">Next<span class="govuk-visually-hidden"> page</span></span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.4136 4.2876 4.2876h-12.109v2h12.109l-4.2876 4.2876 1.4136 1.4136 6.7188-6.5312z"></path>
      </svg>
    </a>
  </div>
}
</nav>
