@{
  var onProfile = string.Equals(
    ViewContext.RouteData.Values["Controller"]?.ToString(),
    "ModernProfile",
    StringComparison.OrdinalIgnoreCase);
  var onAdmin = string.Equals(
    ViewContext.RouteData.Values["Controller"]?.ToString(),
    "ModernAdmin",
    StringComparison.OrdinalIgnoreCase)
    || string.Equals(
      ViewContext.RouteData.Values["Controller"]?.ToString(),
      "ModernAdminNotificationSettings",
      StringComparison.OrdinalIgnoreCase);
  var showAdminCog = ViewBag.CanAccessModernAdmin == true;
  var showHeaderProfile = User?.Identity?.IsAuthenticated == true;
  var dfeLogoWhite = Url.Content("~/_content/DfEDigital.Frontend.AspNetCore/dfe/dfe-logo-white.png");
  var dfeLogoBlack = Url.Content("~/_content/DfEDigital.Frontend.AspNetCore/dfe/dfe-logo-black.png");
}
<header class="govuk-header dfe-f-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="https://www.gov.uk/government/organisations/department-for-education" class="govuk-header__homepage-link govuk-header__link govuk-header__link--homepage dfe-f-header__logo-link">
        <img class="govuk-header__logotype dfe-f-header__logo-img dfe-f-header__logo-img--white" src="@dfeLogoWhite" alt="Department for Education" decoding="async" asp-append-version="true" />
        <img class="govuk-header__logotype dfe-f-header__logo-img dfe-f-header__logo-img--black" src="@dfeLogoBlack" alt="" decoding="async" asp-append-version="true" aria-hidden="true" />
      </a>
    </div>
    @if (showAdminCog || showHeaderProfile)
    {
      <div class="govuk-header__content">
        <div class="dfe-c-header-util">
          @if (showAdminCog)
          {
            <a href="@Url.Action("Index", "ModernAdmin")" class="dfe-c-header-util__link@(onAdmin ? " dfe-c-header-util__link--active" : "")" @if (onAdmin) { <text>aria-current="page"</text> }>
              <span class="govuk-visually-hidden">Admin</span>
              <svg class="dfe-c-header-util__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false"><circle cx="12" cy="12" r="3"/><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"/></svg>
            </a>
          }
          @if (showAdminCog && showHeaderProfile)
          {
            <span class="dfe-c-header-util__sep" aria-hidden="true"></span>
          }
          @if (showHeaderProfile)
          {
            <a href="@Url.Action("Index", "ModernProfile")" class="dfe-c-header-util__link@(onProfile ? " dfe-c-header-util__link--active" : "")" @if (onProfile) { <text>aria-current="page"</text> }>
              <span class="govuk-visually-hidden">Profile</span>
              <svg class="dfe-c-header-util__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
            </a>
          }
        </div>
      </div>
    }
  </div>
</header>
<div class="dfe-f-header__service-nav">
    <section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
      <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
          <span class="govuk-service-navigation__service-name">
            <a class="govuk-service-navigation__link" href="@Url.Action("Index", "ModernDashboard")">COMPASS</a>
          </span>
          @await Html.PartialAsync("~/Views/Modern/Shared/_Navigation.cshtml")
        </div>
      </div>
    </section>
  </div>
 
@await Html.PartialAsync("~/Views/Modern/Shared/_SubNavigation.cshtml")
@if (ViewBag.ShowReportingScope == true)
{
  @await Html.PartialAsync("~/Views/Modern/Shared/_ReportingScopeBar.cshtml")
}
else if (ViewBag.ShowPortfolioScope == true)
{
  @await Html.PartialAsync("~/Views/Modern/Shared/_PortfolioScopeBar.cshtml")
}


