@{
  var navListId = "compass-service-navigation";
}
<nav aria-label="Menu" class="govuk-service-navigation__wrapper">
 <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="@navListId" hidden aria-hidden="true">
    Menu
  </button>
 <ul class="govuk-service-navigation__list" id="@navListId">
 @if (ViewBag.ShowDemandNavigation == true)
 {
 <li class="govuk-service-navigation__item@(ViewBag.MainNavSection =="demand" ? " govuk-service-navigation__item--active" : "")">
      @if (ViewBag.MainNavSection == "demand")
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Dashboard", "ModernDemand")" aria-current="true" data-nav="demand"><strong class="govuk-service-navigation__active-fallback">Demand</strong></a>
      }
      else
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Dashboard", "ModernDemand")" data-nav="demand">Demand</a>
      }
    </li>
 }
 <li class="govuk-service-navigation__item@(ViewBag.MainNavSection =="work" ? " govuk-service-navigation__item--active" : "")">
      @if (ViewBag.MainNavSection == "work")
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Dashboard", "ModernWork")" aria-current="true" data-nav="work"><strong class="govuk-service-navigation__active-fallback">Work</strong></a>
      }
      else
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Dashboard", "ModernWork")" data-nav="work">Work</a>
      }
    </li>
 <li class="govuk-service-navigation__item@(ViewBag.MainNavSection =="raid" ? " govuk-service-navigation__item--active" : "")">
      @if (ViewBag.MainNavSection == "raid")
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Dashboard", "ModernRaid")" aria-current="true" data-nav="raid"><strong class="govuk-service-navigation__active-fallback">RAID</strong></a>
      }
      else
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Dashboard", "ModernRaid")" data-nav="raid">RAID</a>
      }
    </li>
 <li class="govuk-service-navigation__item@(ViewBag.MainNavSection =="performance" ? " govuk-service-navigation__item--active" : "")">
      @if (ViewBag.MainNavSection == "performance")
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Index", "ModernPerformance")" aria-current="true" data-nav="performance"><strong class="govuk-service-navigation__active-fallback">Performance</strong></a>
      }
      else
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Index", "ModernPerformance")" data-nav="performance">Performance</a>
      }
    </li>
 @if (ViewBag.ShowFipsDatabaseServiceRegister == true)
 {
 <li class="govuk-service-navigation__item@(ViewBag.MainNavSection =="manage" ? " govuk-service-navigation__item--active" : "")">
      @if (ViewBag.MainNavSection == "manage")
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Fips", "ModernManage")" aria-current="true" data-nav="manage"><strong class="govuk-service-navigation__active-fallback">Service Register</strong></a>
      }
      else
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Fips", "ModernManage")" data-nav="manage">Products and Services</a>
      }
    </li>
 }
 @if (ViewBag.ShowStandardsNavigation == true)
 {
 <li class="govuk-service-navigation__item@(ViewBag.MainNavSection =="standards" ? " govuk-service-navigation__item--active" : "")">
      @if (ViewBag.MainNavSection == "standards")
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Dashboard", "ModernStandards")" aria-current="true" data-nav="standards"><strong class="govuk-service-navigation__active-fallback">Standards</strong></a>
      }
      else
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Dashboard", "ModernStandards")" data-nav="standards">Standards</a>
      }
    </li>
 }
 <li class="govuk-service-navigation__item@(ViewBag.MainNavSection =="reporting" ? " govuk-service-navigation__item--active" : "")">
      @if (ViewBag.MainNavSection == "reporting")
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Dashboard", "ModernReporting")" aria-current="true" data-nav="reporting"><strong class="govuk-service-navigation__active-fallback">Reporting</strong></a>
      }
      else
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Dashboard", "ModernReporting")" data-nav="reporting">Reporting</a>
      }
    </li>
    @if (ViewBag.CanAccessOperations == true)
    {
 <li class="govuk-service-navigation__item@(ViewBag.MainNavSection =="operations" ? " govuk-service-navigation__item--active" : "")">
      @if (ViewBag.MainNavSection == "operations")
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Dashboard", "ModernOperations")" aria-current="true" data-nav="operations"><strong class="govuk-service-navigation__active-fallback">Operations</strong></a>
      }
      else
      {
 <a class="govuk-service-navigation__link" href="@Url.Action("Dashboard", "ModernOperations")" data-nav="operations">Operations</a>
      }
    </li>
    }
  </ul>
</nav>
