@model Compass.Models.SearchAndFilterViewModel
@{
    var prefix = Model.IdPrefix;
    var searchId = prefix + "-register-search";
    var btnId = prefix + "-filter-btn";
    var panelId = prefix + "-filter-panel";
}
<form method="@(Model.FormMethod ?? "get")" action="@Model.FormActionUrl" id="@(prefix)-register-form" class="dfe-c-mb-3">
  @foreach (var h in Model.HiddenFields)
  {
    <input type="hidden" name="@h.Key" value="@h.Value" />
  }
  <div id="search-and-filter">
 <div class="filter-toolbar">
 <div class="filter-toolbar__search-wrap">
 <input type="search" name="search" id="@searchId" value="@Model.SearchValue" placeholder="@Model.SearchPlaceholder" class="filter-search" autocomplete="off" aria-label="@Model.SearchPlaceholder" />
 <button type="submit" class="govuk-button govuk-button--secondary filter-toolbar__search-submit" id="@(prefix)-search-submit">Search</button>
    </div>
 <button type="button" class="filter-toggle-btn" id="@btnId" aria-expanded="false" aria-controls="@panelId">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" style="flex-shrink:0;" aria-hidden="true"><path d="M1 3h14v1.5l-5 5V14l-4-2V9.5L1 4.5V3z"></path></svg>
 <span class="filter-toggle-label">Filter</span>
    </button>
  </div>
@await Html.PartialAsync("~/Views/Modern/Shared/_FilterActiveChips.cshtml", Model.ActiveChips)
 <div class="filter-panel filter-panel--allwork" id="@panelId">
 <div class="filter-panel__grid">
      @foreach (var f in Model.Fields)
      {
        var fieldId = f.Id ?? "filter-" + f.Name;
        <div>
          <label for="@fieldId">@f.Label</label>
 <select name="@f.Name" id="@fieldId" class="govuk-select">
            @foreach (var o in f.Options)
            {
              var isSelected = o.Value == f.SelectedValue;
              if (isSelected)
              {
                <option value="@o.Value" selected>@o.Text</option>
              }
              else
              {
                <option value="@o.Value">@o.Text</option>
              }
            }
          </select>
        </div>
      }
    </div>
 <div class="filter-panel__actions">
 <button type="submit" class="btn btn-primary">Apply</button>
 <a href="@Model.ClearUrl" class="btn btn-secondary">Clear filters</a>
    </div>
  </div>
  </div>
</form>
