@model Compass.Models.Modern.Work.WorkItem
@{
  var work = Model;
  var isWatching = ViewBag.IsWatching as bool? ?? false;
  var canEditWorkItem = ViewBag.CanEditWorkItem as bool? ?? false;
}
<div class="govuk-button-group work-item-masthead__actions-buttons">
  @if (isWatching)
  {
    <form method="post" action="@Url.Action("Unwatch", "ModernWork", new { id = work.Id })" class="work-item-masthead__action-form" data-confirm-title="Stop watching" data-confirm-message="Remove this work item from your watch list?">
      @Html.AntiForgeryToken()
      <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">Unwatch</button>
    </form>
  }
  else
  {
    <form method="post" action="@Url.Action("Watch", "ModernWork", new { id = work.Id })" class="work-item-masthead__action-form">
      @Html.AntiForgeryToken()
      <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">Watch</button>
    </form>
  }
  @if (canEditWorkItem)
  {
    <a href="@Url.Action("Edit", "ModernWork", new { id = work.Id })" class="govuk-button govuk-!-margin-bottom-0">Edit</a>
  }
</div>
