@model Compass.Services.EnvironmentSync.EnvironmentSyncPreview

@if (Model?.Counts?.Count > 0)
{
  <table class="govuk-table govuk-!-margin-top-4">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Entity</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Source</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Target</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Would create</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Would update</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      @foreach (var row in Model.Counts)
      {
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">@row.Label</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">@row.SourceCount</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">@row.TargetCount</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">@row.WouldCreate</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">@row.WouldUpdate</td>
        </tr>
      }
    </tbody>
  </table>
}
