@model Compass.ViewModels.Modern.NotificationAdminSideNavViewModel
@{
  var settingsUrl = Url.Action("NotificationSettings", "ModernAdminNotificationSettings") ?? "#";
  var logUrl = Url.Action("NotificationEmailLog", "ModernAdminNotificationSettings") ?? "#";
  var listId = "notification-admin-side-nav-list";
}

<nav class="dfe-f-side-navigation notification-settings-side-nav"
     aria-label="Notification administration"
     data-module="dfe-f-side-navigation">
  <button type="button"
          class="dfe-f-side-navigation__toggle"
          aria-controls="@listId"
          aria-expanded="false">
    Notification options
  </button>
  <ul id="@listId" class="dfe-f-side-navigation__list" hidden>
    <li class="dfe-f-side-navigation__item@(!Model.IsEmailLogPage ? " dfe-f-side-navigation__item--current" : "")">
      <a class="dfe-f-side-navigation__link govuk-link govuk-link--no-visited-state govuk-link--no-underline"
         href="@(Model.IsEmailLogPage ? $"{settingsUrl}#notification-settings-main" : "#notification-settings-main")">Email defaults</a>
    </li>
    @if (!Model.IsEmailLogPage)
    {
      @foreach (var c in Model.SettingsCategories)
      {
        <li class="dfe-f-side-navigation__item">
          <a class="dfe-f-side-navigation__link govuk-link govuk-link--no-visited-state govuk-link--no-underline"
             href="#@c.AnchorId">@c.CategoryTitle</a>
        </li>
      }
    }
    <li class="dfe-f-side-navigation__item@(Model.IsEmailLogPage ? " dfe-f-side-navigation__item--current" : "")">
      <a class="dfe-f-side-navigation__link govuk-link govuk-link--no-visited-state govuk-link--no-underline"
         href="@logUrl">Email log</a>
    </li>
  </ul>
</nav>
