@*
    Renders a Mermaid diagram with a tab toggle between the rendered diagram
    and the source code.

    Pass a tuple: (Id, Mermaid). The Id must be unique on the page.
*@
@model (string Id, string Mermaid)
@{
    var id = Model.Id;
    var tabRender = $"flow-{id}-tab-render";
    var tabSource = $"flow-{id}-tab-source";
    var paneRender = $"flow-{id}-render";
    var paneSource = $"flow-{id}-source";
    var sourceSelector = $"#{paneSource} .developers-data-flow__code";
}
<div class="developers-data-flow__diagram" data-developers-tabs>
    <div class="developers-data-flow__tabs" role="tablist" aria-label="Diagram view">
        <button type="button"
                class="developers-data-flow__tab"
                role="tab"
                id="@tabRender"
                aria-controls="@paneRender"
                aria-selected="true">Diagram</button>
        <button type="button"
                class="developers-data-flow__tab"
                role="tab"
                id="@tabSource"
                aria-controls="@paneSource"
                aria-selected="false">Mermaid source</button>
    </div>
    <div class="developers-data-flow__pane developers-data-flow__pane--render"
         id="@paneRender"
         role="tabpanel"
         aria-labelledby="@tabRender">
        <pre class="mermaid">@Model.Mermaid</pre>
        <noscript>
            <p class="govuk-body">
                JavaScript is required to render the diagram. View the
                <a class="govuk-link" href="#@paneSource">Mermaid source</a> instead.
            </p>
        </noscript>
    </div>
    <div class="developers-data-flow__pane developers-data-flow__pane--source"
         id="@paneSource"
         role="tabpanel"
         aria-labelledby="@tabSource"
         hidden>
        <button type="button"
                class="developers-data-flow__copy js-only"
                data-developers-copy="@sourceSelector">Copy</button>
        <pre class="developers-data-flow__code"><code class="language-mermaid">@Model.Mermaid</code></pre>
    </div>
</div>
