@model Compass.Models.Docs.DocsViewSpecification
<article class="docs-spec-card govuk-!-margin-bottom-6" id="@Model.Id">
    <h3 class="govuk-heading-m docs-spec-card__title govuk-!-margin-bottom-2">@Model.Title</h3>
    <p class="govuk-body-s govuk-hint govuk-!-margin-bottom-4">
        <span class="docs-spec-card__meta-label">Process</span> @Model.ProcessName<br>
        <span class="docs-spec-card__meta-label">Route</span> <code class="govuk-body-s">@Model.Route</code>
    </p>
    <dl class="docs-spec-dl">
        <div class="docs-spec-dl__row">
            <dt class="docs-spec-dl__term">What the feature does</dt>
            <dd class="docs-spec-dl__detail govuk-body">@Model.WhatItDoes</dd>
        </div>
        <div class="docs-spec-dl__row">
            <dt class="docs-spec-dl__term">What data is used or collected</dt>
            <dd class="docs-spec-dl__detail govuk-body">@Model.DataUsed</dd>
        </div>
        <div class="docs-spec-dl__row">
            <dt class="docs-spec-dl__term">What permissions are needed</dt>
            <dd class="docs-spec-dl__detail govuk-body">@Model.Permissions</dd>
        </div>
        <div class="docs-spec-dl__row">
            <dt class="docs-spec-dl__term">How the data is used (in reporting or other services)</dt>
            <dd class="docs-spec-dl__detail govuk-body">@Model.DataUsage</dd>
        </div>
        <div class="docs-spec-dl__row">
            <dt class="docs-spec-dl__term">API availability</dt>
            <dd class="docs-spec-dl__detail govuk-body">@Model.ApiAvailability</dd>
        </div>
    </dl>
</article>
