@model IEnumerable<FipsReporting.Data.PerformanceMetric>
@{
    ViewData["Title"] = "Manage Metrics";
    ViewData["ActiveNav"] = "admin";
    ViewData["ActiveNavItem"] = "manage-metrics";
}

@section BeforeContent {
    <div class="dfe-masthead dfe-masthead--with-links">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <span class="govuk-caption-l govuk-!-margin-top-6">COMPASS admin</span>
                    <h1 class="govuk-heading-xl">Manage metrics</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-0">Configure performance metrics that will appear in report submissions for monthly reporting.</p>
                </div>
            </div>
        </div>
    </div>
}

<div class="govuk-width-container">
    <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <!-- Vertical Navigation -->
            <div class="govuk-grid-column-one-quarter">
                <nav class="dfe-vertical-nav" data-module="dfe-vertical-nav">
                    <ul class="dfe-vertical-nav__section">
                        <li class="dfe-vertical-nav__section-item @(ViewData["ActiveNavItem"]?.ToString() == "dashboard" ? "dfe-vertical-nav__section-item--current" : "")">
                            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="@Url.Action("Index", "Admin")">
                                Dashboard
                            </a>
                        </li>
                        <li class="dfe-vertical-nav__section-item @(ViewData["ActiveNavItem"]?.ToString() == "manage-metrics" ? "dfe-vertical-nav__section-item--current" : "")">
                            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="@Url.Action("Index", "AdminMetrics")">
                                Manage metrics
                            </a>
                        </li>
                        <li class="dfe-vertical-nav__section-item @(ViewData["ActiveNavItem"]?.ToString() == "manage-users" ? "dfe-vertical-nav__section-item--current" : "")">
                            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="@Url.Action("Index", "AdminUser")">
                                Manage users
                            </a>
                        </li>
                        <li class="dfe-vertical-nav__section-item @(ViewData["ActiveNavItem"]?.ToString() == "manage-objectives" ? "dfe-vertical-nav__section-item--current" : "")">
                            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="@Url.Action("Index", "AdminObjectives")">
                                Manage objectives
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Main Content -->
            <div class="govuk-grid-column-three-quarters">


            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                    Metrics
                    </h2>
                    <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link" href="@Url.Action("Create")">Add metric</a>
                    </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">

                @if (Model != null && Model.Any())
                {
               
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Name</th>
                                    <th scope="col" class="govuk-table__header">Category</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var metric in Model)
                                {
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell"><a href="@Url.Action("Edit", new { id = metric.Id })">@metric.Name</a></td>
                                        <td class="govuk-table__cell">@metric.Category</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                 
                }
                else
                {
                   
                        <p class="govuk-body">No metrics configured yet. Add your first metric to get started.</p>
              
                }
                </div>
            </div>
        </div>
    </div>
</div>
