@model (string Caption, IReadOnlyList<Compass.ViewModels.Modern.ModernRaidIntelligenceRowVm> Rows)
@using Compass.ViewModels.Modern
@{
  var rows = Model.Rows;
}
<div class="dfe-f-table-wrapper govuk-!-margin-bottom-0" data-module="dfe-f-table">
  <table class="govuk-table govuk-table--small-text-until-tablet dfe-f-table--condensed raid-dash-data-table govuk-!-margin-bottom-0">
    <caption class="govuk-table__caption govuk-table__caption--m">@Model.Caption</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Open risks</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Elevated+</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      @if (rows.Count == 0)
      {
        <tr><td colspan="3" class="govuk-table__cell dfe-c-text-muted">No data.</td></tr>
      }
      else
      {
        @foreach (var r in rows)
        {
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              @if (!string.IsNullOrWhiteSpace(r.DrillUrl))
              {
                <a class="govuk-link govuk-link--no-visited-state" href="@r.DrillUrl">@r.Label</a>
              }
              else { @r.Label }
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric dfe-f-u-tabular-numbers">@r.OpenRiskCount</td>
            <td class="govuk-table__cell govuk-table__cell--numeric dfe-f-u-tabular-numbers">@r.ElevatedRiskCount</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
