@model (string Caption, string ColumnLabel, IReadOnlyList<Compass.ViewModels.Modern.ModernRaidLabelCountVm> Rows)
@using Compass.ViewModels.Modern
@{
  var caption = Model.Caption;
  var columnLabel = Model.ColumnLabel;
  var rows = Model.Rows;
}
<div class="dfe-f-table-wrapper govuk-!-margin-bottom-0" data-module="dfe-f-table">
  <table class="govuk-table govuk-table--small-text-until-tablet dfe-f-table--condensed raid-dash-data-table govuk-!-margin-bottom-0">
    <caption class="govuk-table__caption govuk-table__caption--m">@caption</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">@columnLabel</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Open</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      @if (rows.Count == 0)
      {
        <tr class="govuk-table__row">
          <td colspan="2" class="govuk-table__cell govuk-body-s dfe-c-text-muted">No records in this view.</td>
        </tr>
      }
      else
      {
        @foreach (var r in rows)
        {
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              @if (!string.IsNullOrWhiteSpace(r.DrillUrl))
              {
                <a class="govuk-link govuk-link--no-visited-state" href="@r.DrillUrl">@r.Label</a>
              }
              else
              {
                @r.Label
              }
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric dfe-f-u-tabular-numbers">@r.Count</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
