@model Compass.ViewModels.Modern.RaidGovUkDateFieldVm
@{
  var id = Model.FieldIdPrefix ?? Model.NamePrefix.ToLowerInvariant().Replace(" ", "");
  var dayName = Model.NamePrefix + "Day";
  var monthName = Model.NamePrefix + "Month";
  var yearName = Model.NamePrefix + "Year";
  var groupId = Model.FormGroupId ?? Model.NamePrefix;
}
<div class="govuk-form-group @(Model.HasError ? "govuk-form-group--error" : "")" id="@groupId">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="@(id)-hint @(id)-error">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">@Model.Legend</legend>
    @if (!string.IsNullOrEmpty(Model.Hint))
    {
      <div id="@(id)-hint" class="govuk-hint">@Model.Hint</div>
    }
    @if (Model.HasError && !string.IsNullOrEmpty(Model.ErrorMessage))
    {
      <p id="@(id)-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error: </span>@Model.ErrorMessage</p>
    }
    <div class="govuk-date-input" id="@id">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="@(id)-day">Day</label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2 @(Model.HasError ? "govuk-input--error" : "")"
                 id="@(id)-day" name="@dayName" type="text" inputmode="numeric" pattern="[0-9]*" maxlength="2"
                 value="@(Model.Day?.ToString())" autocomplete="off" />
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="@(id)-month">Month</label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2 @(Model.HasError ? "govuk-input--error" : "")"
                 id="@(id)-month" name="@monthName" type="text" inputmode="numeric" pattern="[0-9]*" maxlength="2"
                 value="@(Model.Month?.ToString())" autocomplete="off" />
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="@(id)-year">Year</label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4 @(Model.HasError ? "govuk-input--error" : "")"
                 id="@(id)-year" name="@yearName" type="text" inputmode="numeric" pattern="[0-9]*" maxlength="4"
                 value="@(Model.Year?.ToString())" autocomplete="off" />
        </div>
      </div>
    </div>
  </fieldset>
</div>
