@model IReadOnlyList<Compass.ViewModels.Modern.OpsPerfOrgRow>
@{
  var orgLabel = ViewData["OrgLabel"] as string ?? "Organisation";
}
<div style="overflow-x: auto; -webkit-overflow-scrolling: touch;">
  <div class="dfe-f-table-wrapper" data-module="dfe-f-table">
    <div class="govuk-visually-hidden" aria-live="polite" data-dfe-table-sort-live></div>
    <table class="govuk-table mr-ba-table ops-mp__table">
      <caption class="govuk-visually-hidden">Completion by @orgLabel.ToLowerInvariant()</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" rowspan="2" class="mr-ba-table__fixed mr-ba-table__area-col">@orgLabel</th>
          <th scope="col" rowspan="2" class="mr-ba-table__num-hdr">Prod</th>
          <th scope="col" colspan="3" class="mr-ba-table__group mr-ba-table__group--ms">Return &amp; completion</th>
          <th scope="col" colspan="4" class="mr-ba-table__group mr-ba-table__group--pri">Submission status</th>
        </tr>
        <tr class="govuk-table__row">
          <th class="mr-ba-table__sub mr-ba-table__sub--ms" scope="col">Ret</th>
          <th class="mr-ba-table__sub mr-ba-table__sub--ms" scope="col">Ret %</th>
          <th class="mr-ba-table__sub mr-ba-table__sub--ms" scope="col">Met %</th>
          <th class="mr-ba-table__sub mr-ba-table__sub--pri" scope="col">N/S</th>
          <th class="mr-ba-table__sub mr-ba-table__sub--pri" scope="col">I/P</th>
          <th class="mr-ba-table__sub mr-ba-table__sub--pri" scope="col">Sub</th>
          <th class="mr-ba-table__sub mr-ba-table__sub--pri" scope="col">Late</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        @foreach (var row in Model)
        {
          <tr class="govuk-table__row">
            <th scope="row" class="mr-ba-table__fixed mr-ba-table__area-col">@row.Name</th>
            <td class="mr-ba-table__num"><span class="mr-ba-num mr-ba-num--strong">@row.PotentialSubmissions</span></td>
            <td class="mr-ba-table__cell--ms mr-ba-table__num"><span class="mr-ba-num @(row.ActualSubmitted + row.ActualLate > 0 ? "mr-ba-num--highlight" : "mr-ba-num--muted")">@(row.ActualSubmitted + row.ActualLate)</span></td>
            <td class="mr-ba-table__cell--ms mr-ba-table__num"><span class="mr-ba-num">@row.CompletionPercent%</span></td>
            <td class="mr-ba-table__cell--ms mr-ba-table__num"><span class="mr-ba-num">@row.MetricCompletionPercent%</span></td>
            <td class="mr-ba-table__cell--pri mr-ba-table__num"><span class="mr-ba-num @(row.NotStarted > 0 ? "" : "mr-ba-num--muted")">@row.NotStarted</span></td>
            <td class="mr-ba-table__cell--pri mr-ba-table__num"><span class="mr-ba-num @(row.InProgress > 0 ? "" : "mr-ba-num--muted")">@row.InProgress</span></td>
            <td class="mr-ba-table__cell--pri mr-ba-table__num"><span class="mr-ba-num mr-ba-num--pri @(row.ActualSubmitted > 0 ? "mr-ba-num--pri-low" : "mr-ba-num--muted")">@row.ActualSubmitted</span></td>
            <td class="mr-ba-table__cell--pri mr-ba-table__num"><span class="mr-ba-num mr-ba-num--pri @(row.ActualLate > 0 ? "mr-ba-num--pri-crit" : "mr-ba-num--muted")">@row.ActualLate</span></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
