@model Compass.ViewModels.Modern.RaidRegisterOnboardingViewModel

<p class="govuk-body">Set the organisational scope for this register. Select one or more directorates and portfolios. These are optional but help with reporting and access inheritance.</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Directorates (optional)</legend>
    @if (!Model.DirectorateOptions.Any())
    {
      <p class="govuk-hint govuk-!-margin-bottom-0">No directorates are configured.</p>
    }
    else
    {
      <div class="govuk-hint">Select all directorates this register covers.</div>
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        @foreach (var opt in Model.DirectorateOptions)
        {
          var chk = Model.SelectedDirectorateLookupIds.Contains(opt.Id);
          <div class="govuk-checkboxes__item">
            @if (chk)
            {
              <input class="govuk-checkboxes__input" id="raid-reg-dir-@opt.Id" name="SelectedDirectorateLookupIds" type="checkbox" value="@opt.Id" checked />
            }
            else
            {
              <input class="govuk-checkboxes__input" id="raid-reg-dir-@opt.Id" name="SelectedDirectorateLookupIds" type="checkbox" value="@opt.Id" />
            }
            <label class="govuk-label govuk-checkboxes__label" for="raid-reg-dir-@opt.Id">@opt.Name</label>
          </div>
        }
      </div>
    }
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-0">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Portfolios / business areas (optional)</legend>
    @if (!Model.BusinessAreaOptions.Any())
    {
      <p class="govuk-hint govuk-!-margin-bottom-0">No portfolios are configured.</p>
    }
    else
    {
      <div class="govuk-hint">Select all portfolios this register covers.</div>
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        @foreach (var opt in Model.BusinessAreaOptions)
        {
          var chk = Model.SelectedBusinessAreaLookupIds.Contains(opt.Id);
          <div class="govuk-checkboxes__item">
            @if (chk)
            {
              <input class="govuk-checkboxes__input" id="raid-reg-ba-@opt.Id" name="SelectedBusinessAreaLookupIds" type="checkbox" value="@opt.Id" checked />
            }
            else
            {
              <input class="govuk-checkboxes__input" id="raid-reg-ba-@opt.Id" name="SelectedBusinessAreaLookupIds" type="checkbox" value="@opt.Id" />
            }
            <label class="govuk-label govuk-checkboxes__label" for="raid-reg-ba-@opt.Id">@opt.Name</label>
          </div>
        }
      </div>
    }
  </fieldset>
</div>
