@model Compass.ViewModels.Modern.RaidRegisterOnboardingViewModel

<p class="govuk-body">Set the organisational scope for this register. These are optional but help with reporting and access inheritance.</p>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="DirectorateLookupId">Directorate (optional)</label>
  <select class="govuk-select" id="DirectorateLookupId" name="DirectorateLookupId">
    <option value="">Select a directorate</option>
    @foreach (var opt in Model.DirectorateOptions)
    {
      var isSelected = Model.DirectorateLookupId == opt.Id;
      if (isSelected)
      {
        <option value="@opt.Id" selected>@opt.Name</option>
      }
      else
      {
        <option value="@opt.Id">@opt.Name</option>
      }
    }
  </select>
</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="BusinessAreaLookupId">Portfolio / business area (optional)</label>
  <select class="govuk-select" id="BusinessAreaLookupId" name="BusinessAreaLookupId">
    <option value="">Select a portfolio</option>
    @foreach (var opt in Model.BusinessAreaOptions)
    {
      var isSelected = Model.BusinessAreaLookupId == opt.Id;
      if (isSelected)
      {
        <option value="@opt.Id" selected>@opt.Name</option>
      }
      else
      {
        <option value="@opt.Id">@opt.Name</option>
      }
    }
  </select>
</div>
