@model (string Entity, int Id, int CommentCount)
@{
  var count = Model.CommentCount;
  var countLabel = count == 1 ? "1 comment" : count + " comments";
}
<button type="button"
        class="raid-ss-cell-icon-toggle raid-ss-comment-toggle@(count > 0 ? " raid-ss-cell-icon-toggle--has-count raid-ss-comment-toggle--has-comments" : "")"
        data-entity="@Model.Entity"
        data-id="@Model.Id"
        data-comment-count="@count"
        aria-expanded="false"
        aria-label="@(count > 0 ? countLabel : "Comments")">
  <span class="material-symbols-outlined raid-ss-cell-icon-toggle__icon" aria-hidden="true">chat_bubble_outline</span>
  @if (count > 0)
  {
    <span class="dfe-f-count-badge" aria-label="@countLabel">@(count > 99 ? "99+" : count.ToString())</span>
  }
  <span class="govuk-visually-hidden">@(count > 0 ? countLabel : "Comments")</span>
</button>
