@model Compass.ViewModels.Modern.RaidRegisterOnboardingViewModel

<h2 class="govuk-heading-m">Review your register</h2>
<p class="govuk-body">Check the details below before creating your register. You can go back to change anything.</p>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">@Model.Name</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="@Url.Action("RegisterCreate", "ModernRaid", new { step = 1, id = Model.RegisterId })">Change</a>
    </dd>
  </div>

  @if (!string.IsNullOrWhiteSpace(Model.Description))
  {
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Description</dt>
      <dd class="govuk-summary-list__value">@Model.Description</dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="@Url.Action("RegisterCreate", "ModernRaid", new { step = 1, id = Model.RegisterId })">Change</a>
      </dd>
    </div>
  }

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Directorates</dt>
    <dd class="govuk-summary-list__value">
      @if (Model.SelectedDirectorateNames.Any())
      {
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          @foreach (var name in Model.SelectedDirectorateNames)
          {
            <li>@name</li>
          }
        </ul>
      }
      else
      {
        <span>None selected</span>
      }
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="@Url.Action("RegisterCreate", "ModernRaid", new { step = 2, id = Model.RegisterId })">Change</a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Portfolios</dt>
    <dd class="govuk-summary-list__value">
      @if (Model.SelectedBusinessAreaNames.Any())
      {
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          @foreach (var name in Model.SelectedBusinessAreaNames)
          {
            <li>@name</li>
          }
        </ul>
      }
      else
      {
        <span>None selected</span>
      }
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="@Url.Action("RegisterCreate", "ModernRaid", new { step = 2, id = Model.RegisterId })">Change</a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Work items</dt>
    <dd class="govuk-summary-list__value">
      @if (Model.SelectedWorkItemNames.Any())
      {
        <ul class="govuk-list govuk-list--bullet">
          @foreach (var name in Model.SelectedWorkItemNames)
          {
            <li>@name</li>
          }
        </ul>
      }
      else
      {
        <span>None selected</span>
      }
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="@Url.Action("RegisterCreate", "ModernRaid", new { step = 3, id = Model.RegisterId })">Change</a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Services</dt>
    <dd class="govuk-summary-list__value">
      @if (Model.SelectedServiceNames.Any())
      {
        <ul class="govuk-list govuk-list--bullet">
          @foreach (var name in Model.SelectedServiceNames)
          {
            <li>@name</li>
          }
        </ul>
      }
      else
      {
        <span>None selected</span>
      }
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="@Url.Action("RegisterCreate", "ModernRaid", new { step = 4, id = Model.RegisterId })">Change</a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Additional users</dt>
    <dd class="govuk-summary-list__value">
      @if (Model.RegisterUsers.Any())
      {
        <ul class="govuk-list govuk-list--bullet">
          @foreach (var user in Model.RegisterUsers)
          {
            <li>@(user.DisplayName ?? user.Email) (@user.Role)</li>
          }
        </ul>
      }
      else
      {
        <span>None added (you can add users later)</span>
      }
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="@Url.Action("RegisterCreate", "ModernRaid", new { step = 5, id = Model.RegisterId })">Change</a>
    </dd>
  </div>
</dl>
